/*------------------列表头---------------------*/

.list-head {
    background: url(/Content/img/list-bg.jpg) center center no-repeat;
    background-attachment: fixed;
}

    .list-head h2 {
        text-align: center;
        margin: 0 auto 5px;
        padding-top: 110px;
        font-size: 50px;
        color: #fff;
        font-weight: bold;
    }

    .list-head p {
        font-size: 15px;
        text-align: center;
        color: #fff;
        padding-bottom: 120px;
    }

.product_con {
    border-top: 1px dotted #666;
    padding: 10px 5px;
    clear: both;
}

.point {
    clear: both;
    padding: 20px 0 60px 0;
}

    .point .to-prev {
        text-align: center;
    }

        .point .to-prev a {
        }

    .point .to-next {
        text-align: center;
    }

        .point .to-next a {
        }

/*------------------/列表头---------------------*/

/*------------------内容---------------------*/
.show-title {
    padding: 30px 20px;
}

    .show-title h1 {
        font-size: 25px;
        margin-bottom: 30px;
        line-height: 25px;
    }
/*------------------/内容---------------------*/
